---

# Required
# Default values for VMs
- memory: 2048
- cpus: 2

- vms:
  - name: vm1
    os: bento/centos-7.5
  - name: vm2
    os: bento/centos-6.8
    memory: 4096
  - name: vm3
    os: ubuntu/trusty64
  - name: vm4
    os: ubuntu/bionic64
    memory: 3072
    cpus: 4
