---

# Required
# Default values for VMs
- memory: 2048
- cpus: 2

- vms:
  - name: vm1
    os: almalinux/9
  - name: vm2
    os: bento/rockylinux-9
    memory: 4096
  - name: vm3
    os: ubuntu/lunar64
  - name: vm4
    os: ubuntu/kinetic64
    memory: 3072
    cpus: 4
  - name: vm5
    os: debian/bullseye64
    cpus: 6
